
#spacingJumbotron {

    border-width: .2rem;

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
}

#probSolv {
    margin-bottom: -2rem;
}

/* Centered text */
.centeredText {
    font-size: 2em;
    color: white;
    font-weight: bold;


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    background-color: black;

    /*transparancy on the container*/
    -khtml-opacity:.50;
    -moz-opacity:.50;
    -ms-filter:”alpha(opacity=60)”;
    filter:alpha(opacity=60);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
    opacity:.50;
}

.containerAcad {
    padding: 1.5rem;
    border-width: .2rem;

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#hamster{
    max-width: 350px;
    height: auto;
}